<%= stylesheet_link_tag "custom_form", "data-turbo-track": "reload" %>
<div class="form-container">
  <h1 class=>Register Form</h1>

  <%= form_with(model: @user, url: create_registration_path, local: true) do |form| %>
    <div class="form-row">
      <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>
      <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <%= form.label :birthday %>
        <%= form.date_field :birthday %>
      </div>
      <div class="form-group">
        <div class="form-group">
          <%= form.label :gender %>
          <div class="radio-group">
          <label class="radio-label">
            <%= form.radio_button :gender, 'male', class: 'hidden-radio' %>
            <span class="custom-radio"></span>
            Male
          </label>
          <label class="radio-label">
            <%= form.radio_button :gender, 'female', class: 'hidden-radio' %>
            <span class="custom-radio"></span>
            Female
          </label>
        </div>
      </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email %>
      </div>
      <div class="form-group">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :subject %>
      <%= form.select :subject, options_for_select([
        ['Choose option', ''],
        ['Mathematics', 'mathematics'],
        ['Science', 'science'],
        ['Literature', 'literature'],
        ['History', 'history'],
        ['Computer Science', 'computer_science']
      ]) %>
    </div>

    <div class="button-group">
      <div class="button-container">
        <%= form.submit "Submit", class: "submit-button" %>
      </div>
      <div class="login-button-container">
        <%= link_to "Member", users_path, class: "view-data-button" %>
      </div>
    </div>

  <% end %>
</div>

