<div class="home-page">
<h1>Member</h1>
<%= link_to "Register", new_registration_path, class: "view-data" %>

<div class="card-container">
  <% @users.each do |user| %>
    <div class="card" onclick="toggleDetails(this)">
      <div class="card-header">
        <h1><%= user.first_name %> <%= user.last_name %></h1>
      </div>
      <div class="card-body">
        <p><strong>Birthday:</strong> <%= user.birthday %></p>
        <p><strong>Gender:</strong> <%= user.gender %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Phone Number:</strong> <%= user.phone_number %></p>
        <p><strong>Subject:</strong> <%= user.subject %></p>
      </div>
    </div>
  <% end %>
</div>
</div>
